*~
.directory

target/
.idea

sensappdroid-clientsamples/*/bin/*
sensappdroid-clientsamples/*/gen/*
sensappdroid-clientsamples/*/target
sensappdroid-clientsamples/*/.settings

sensappdroid-contract/bin/*
sensappdroid-contract/gen/*
sensappdroid-contract/target
sensappdroid-contract/.settings

sensappdroid-test/bin/*
sensappdroid-test/gen/*
sensappdroid-test/target
sensappdroid-test/.settings

sensappdroid-main/bin/*
sensappdroid-main/gen/*
sensappdroid-main/.settings
sensappdroid-main/target
