*~
.directory

target/

sensappdroid-test/bin/*
sensappdroid-test/gen/*
sensappdroid-test/target
sensappdroid-test/.settings

sensappdroid/bin/*
sensappdroid/gen/*
sensappdroid/.settings
sensappdroid/target
