*~
.directory

target/

sensappdroid-simpleclient/bin/*
sensappdroid-simpleclient/gen/*
sensappdroid-simpleclient/target
sensappdroid-simpleclient/.settings

sensappdroid-contract/bin/*
sensappdroid-contract/gen/*
sensappdroid-contract/target
sensappdroid-contract/.settings

sensappdroid-test/bin/*
sensappdroid-test/gen/*
sensappdroid-test/target
sensappdroid-test/.settings

sensappdroid/bin/*
sensappdroid/gen/*
sensappdroid/.settings
sensappdroid/target
